.intro {
  display: flex;
  height: 100vh;
  background: #e6e6e6;
}
.intro__left {
  flex: 1;
  display: flex;
  align-items: center;
}
.intro__right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.intro__left__wrapper {
  padding: 0 100px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro__intro {
  font-size: 30px;
  font-weight: 300;
}

.intro__name {
  font-size: 60px;
}

.intro__title {
  height: 50px;
  overflow: hidden;
}

.intro__title__wrapper {
  height: 100%;
  animation: move 4s ease-in-out infinite alternate;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
}

@keyframes move {
  33% {
    transform: translateY(-50px);
  }
  66% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-100px);
  }
}

.intro__title__item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #59b256;
  display: flex;
  align-items: center;
}

.intro__desc {
  font-size: 22px;
  font-weight: 300;
}

.intro__img {
  z-index: 1;
}

.intro__bg {
  clip-path: polygon(100% 0%, 100% 53%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background: #59b256;
  width: 110%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  body {
    background: #e6e6e6;
  }
  .intro {
    flex-direction: column;
  }
  .intro__left__wrapper {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  .intro__intro {
    font-size: 22px;
    margin: 20px 0;
  }
  .intro__name {
    font-size: 30px;
    margin: 20px 0;
  }

  .intro__desc {
    padding: 0 10px;
    font-size: 15px;
    margin: 20px 0;
  }
  .intro__bg {
    clip-path: polygon(100% 0%, 100% 53%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background: #59b256;
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .right {
    padding: 50px 0;
  }
}
